<header>
  <h3>Game</h3>
</header>
<main>
  <div class="board">
    <div class="cell-row" *ngFor="let row of gameBoard; index as i">
      <div *ngFor="let cell of row; index as j">
        <div *ngIf="isCellChosen(i, j)" class="cell" (click)="clickCell(i, j)" [class.chosen-cell]="true">
          {{ cell.val }}
        </div>
        <div *ngIf="isCellAvailable(i, j) && !isCellChosen(i,j)" (click)="clickCell(i, j)" class="cell">
          {{ cell.val }}
        </div>
        <div *ngIf="!isCellAvailable(i, j)" class="cell" [class.unavailable-cell]="true">
          {{ cell.val }}
        </div>
      </div>
    </div>
  </div>
</main>
